@define-color rosewater rgba(245, 224, 220, 1);
@define-color flamingo rgba(242, 205, 205, 1);
@define-color pink rgba(245, 194, 231, 1);
@define-color mauve rgba(203, 166, 247, 1);
@define-color red rgba(243, 139, 168, 1);
@define-color maroon rgba(235, 160, 172, 1);
@define-color peach rgba(250, 183, 135, 1);
@define-color yellow rgba(249, 226, 175, 1);
@define-color green rgba(166, 227, 161, 1);
@define-color teal rgba(148, 226, 213, 1);
@define-color sky rgba(137, 220, 235, 1);
@define-color sapphire rgba(116, 199, 236, 1);
@define-color blue rgba(137, 180, 250, 1);
@define-color lavender rgba(180, 190, 254, 1);
@define-color text rgba(205, 214, 244, 1);
@define-color subtext1 rgba(186, 194, 222, 1);
@define-color subtext0 rgba(166, 173, 200, 1);
@define-color overlay2 rgba(147, 153, 178, 1);
@define-color overlay1 rgba(127, 132, 156, 1);
@define-color overlay0 rgba(108, 112, 134, 1);
@define-color surface2 rgba(88, 91, 112, 1);
@define-color surface1 rgba(69, 71, 90, 1);
@define-color surface0 rgba(49, 50, 68, 1);
@define-color base rgba(30, 30, 46, 1);
@define-color mantle rgba(24, 24, 37, 1);
@define-color crust rgba(17, 17, 27, 1);

* {
  font-family:
    JetBrains Mono,
    FontAwesome,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
}

window#waybar {
  background: @base;
  color: @text;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 0px;
  border-radius: 10px;
}

.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

#window,
#workspaces {
  margin: 0 4px;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 5px;
  /* background-color: @mantle; */
}

#clock,
#privacy {
  padding: 0 10px;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  background: @subtext1;
  background-color: transparent;
  box-shadow: none;
  border-radius: 10px;
  margin-right: 1px;
  border: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  margin-top: -3px;
  min-width: 90px;
  min-height: 8px;
  margin-bottom: -4px;
  border-radius: 8px;
  background: @overlay0;
  /* Unfilled part */
  border: none;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 10px;
  background: @subtext0;
  /* Filled part - change this to any color you prefer */
  border: none;
}
